.backDrop{

background-color: #948FA5;


}


.containerBackDrop{
    background-color: #A0A58F;
}



.footer{
position: absolute;
bottom: 0;
width: 100%;
height: 50px;
background-color: black;
text-align: center;
color: darkgrey;

}

.homeBanner{
    background-color: #8FA59F;
    color: white;
    width: 100%;
    height: 120px;
}


.navigationBar{
    background-color:  #6b5e51;
}