
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@1,500&family=Spicy+Rice&family=Titillium+Web:wght@400&display=swap');

.App {
    text-align: center;
    
  }



.backDrop{

background-color: #948FA5;


}


.containerBackDrop{
    background-color: #A0A58F;
}



.footer{
position: absolute;
bottom: 0;
width: 100%;
height: 50px;
background-color: black;
text-align: center;
color: darkgrey;

}

.homeBanner{
     font-family: 'Spicy Rice', serif; 
    font-size: large;
    color: #CC5A2A;
    width: 100%;
    height: 120px;
    background-color:#F4DFB6 ;
}


.headerStyle{
    font-family: 'Spicy Rice', serif; 
    color: #CC5A2A;
    
}


.defaultfontColor{
    font-family: 'Titillium Web', sans-serif;
    color: #CC5A2A;
}

.closeButton{
    /* font-family: 'Spicy Rice', serif; */
    font-family: 'Titillium Web', sans-serif;
}

.actionButton{
    background: #6b5e51;
    color: #CC5A2A;
}

.navButtons{

}

.navigationBar{
    
    background-color:  #6b5e51;
}

.button{
    background-color: #F4DFB6;
    color: #AA422F
}
.navBarBrand{
    font-family: 'Monoton', sans-serif;
    font-size:larger;
    color: #CC5A2A;
    font-weight:500;
}


